<launch>

<!-- Carico i waypoints di mission.yaml-->
<rosparam file = "$(find nav_pkg)/config/mission.yaml"/>
<!--Filtro di Kalman Esteso per la Navigazione. -->
<node name="EKF" pkg ="nav_pkg" type="EKF" output="screen"/>
<!--File launch del blocco modellazione-->
<include file="$(find modellazione)/launch/modellazione.launch"/>
<!-- Performance Analysis-->
<node name="performance_analysis" pkg ="nav_pkg" type="performance_analysis"/> 
<!--<node name="range_plot" pkg="rqt_plot" type="rqt_plot" args="/sensor/usbl/pos/x"/>
<node name="be_plot" pkg="rqt_plot" type="rqt_plot" args="/sensor/usbl/pos/y:z"/>
<node name="yaw_plot" pkg="rqt_plot" type="rqt_plot" args="/sensor/ahrs/rpy/z"/>
<node name="gyro_plot" pkg="rqt_plot" type="rqt_plot" args="/sensor/ahrs/gyro"/>-->

<node name="pos_plot" pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_1 /odom/lld"/>
<node name="vel_plot" pkg="rqt_plot" type="rqt_plot" args="/state_real/ni_1 /odom/lin_vel"/>
<node name="rpy_plot" pkg="rqt_plot" type="rqt_plot" args="/state_real/eta_2 /odom/rpy"/>

</launch>